FORMAT: 1A
HOST: https://indianculture.gov.in

# Indian Culture APIs


# Group Slider Images

## Rest Home Page Slider [/rest/home-page-slider]

### Slider Images List in English [GET]

+ Response 200 (application/json)

    + Headers

            date:Wed, 06 Jan 2021 13:09:01 GMT
            server:
            feature-policy:fullscreen 'self'
            public-key-pins:pin-sha256="YMuqVdu4HgYGH0KWKEn6+3obann2b3xzQXxXrJF8NY8="; max-age=16000000
            x-content-type-options:nosniff
            cache-control:must-revalidate, no-cache, private
            x-drupal-dynamic-cache:MISS
            x-ua-compatible:IE=edge
            content-language:en
            expires:Sun, 19 Nov 1978 05:00:00 GMT
            vary:
            x-generator:Drupal 8 (https://www.drupal.org)
            content-security-policy-report-only:report-uri /report-csp-violation; upgrade-insecure-requests
            x-drupal-cache:HIT
            x-permitted-cross-domain-policies:none
            expect-ct:enforce, max-age=43200, report-uri="https://indianculture.gov.in/report"
            content-security-policy:frame-ancestors 'self' https://stgweb.umang.gov.in https://web.umang.gov.in;
            access-control-allow-origin:*
            conteny-security-policy:default-src 'self';
            content-length:4493
            strict-transport-security:max-age=31536000; includeSubDomains; preload;
            x-frame-options:SAMEORIGIN
            x-xss-protection:1; mode=block
            referrer-policy:no-referrer-when-downgrade

    + Attributes (array[Slider Images List in English Example])


    + Body

            [
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider4_0.jpg",
                "title": "Pattachitra, a traditional painting of Odisha"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider3.jpg",
                "title": "Virupaksha Temple, Hampi"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/goa.jpg",
                "title": "Basilica of Bom Jesus, Goa"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider.jpg",
                "title": "Bhangra, a folk dance of Punjab"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/aarti.jpg",
                "title": "Ganga aarti at Varanasi"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider_0_0.jpg",
                "title": "Kutch embroidery (Gujarat)"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/Budha-Sakyamuni.jpg",
                "title": "Sculpture of Shakyamuni Buddha "
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider7.jpg",
                "title": "Kantha embroidery, Bengal"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider6_1.jpg",
                "title": "Damaru, a small two-headed drum"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/5.png",
                "title": "Rudra Veena, a classical string instrument"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/secretariat.jpg",
                "title": "View of the Secretariat buildings during constructions, New Delhi"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/8.jpg",
                "title": "Kathakali, a dance form of Kerala"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-11/7%20%281%29.jpg",
                "title": "Holi, the festival of colours"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/3.png",
                "title": "Musicians playing the been, a wind instrument"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/2.png",
                "title": "Rangoli made using flowers"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/9.jpg",
                "title": "Puppetry, a folk tradition of Rajasthan"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/13.jpg",
                "title": "Kuchipudi, a classical dance form of India"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/Markandeya-puran.jpg",
                "title": "Markandeya Purana manuscript"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/Tantric-mandal-of-Buddhist-pantheons.jpg",
                "title": "Tantric Mandala of Buddhist Pantheons"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/slider19.jpg",
                "title": "Adalaj Stepwell, Ahmedabad "
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider3_1.jpg",
                "title": "National Archives of India Library"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/slider9.jpg",
                "title": "Mithila Painting, Bihar"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/slider13.jpg",
                "title": "Duttapara Navaratna Temple at Joypur, West Bengal"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/slider17.jpg",
                "title": "Traditional Angami Naga Festival "
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/slider20.jpg",
                "title": "Kutch Mud Work, traditional art work of Gujarat"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/1.jpg",
                "title": "Panchratha, Mahabalipuram "
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/2.jpg",
                "title": "Ancient Manuscript of India"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/3.jpg",
                "title": "Maitreya Buddha statue at Nubra Valley, Leh"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/4.jpg",
                "title": "Chham, Mask Dance, Ladakh"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/5.jpg",
                "title": "Kalbelia, traditional folk dance of Rajasthan"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/6.jpg",
                "title": "Karsha Monastery, Ladakh"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/7.jpg",
                "title": "Pung Dhol Cholam, Manipur "
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/amer.jpg",
                "title": "Amer Fort, Jaipur"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/rail.jpg",
                "title": "Nilgiri Mountain Railway "
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/suntemple.jpg",
                "title": "Chariot Wheel at Sun Temple, Konark"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/thali.jpg",
                "title": "Manipuri food"
              }
            ]



## Hi Rest Home Page Slider [/hi/rest/home-page-slider]

### Slider Images List in Hindi [GET]

+ Response 200 (application/json)

    + Headers

            date:Wed, 06 Jan 2021 13:10:04 GMT
            server:
            feature-policy:fullscreen 'self'
            public-key-pins:pin-sha256="YMuqVdu4HgYGH0KWKEn6+3obann2b3xzQXxXrJF8NY8="; max-age=16000000
            x-content-type-options:nosniff
            cache-control:must-revalidate, no-cache, private
            x-drupal-dynamic-cache:MISS
            x-ua-compatible:IE=edge
            content-language:hi
            expires:Sun, 19 Nov 1978 05:00:00 GMT
            vary:
            x-generator:Drupal 8 (https://www.drupal.org)
            content-security-policy-report-only:report-uri /report-csp-violation; upgrade-insecure-requests
            x-drupal-cache:HIT
            x-permitted-cross-domain-policies:none
            expect-ct:enforce, max-age=43200, report-uri="https://indianculture.gov.in/report"
            content-security-policy:frame-ancestors 'self' https://stgweb.umang.gov.in https://web.umang.gov.in;
            access-control-allow-origin:*
            conteny-security-policy:default-src 'self';
            transfer-encoding:chunked
            strict-transport-security:max-age=31536000; includeSubDomains; preload;
            x-frame-options:SAMEORIGIN
            x-xss-protection:1; mode=block
            referrer-policy:no-referrer-when-downgrade

    + Attributes (array[Slider Images List in Hindi Example])


    + Body

            [
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider4_0.jpg",
                "title": "पटचित्र, ओडिशा की एक पारंपरिक चित्रकला"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider3.jpg",
                "title": "विरुपाक्ष मंदिर, हम्पी"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/goa.jpg",
                "title": "बेसिलिका ऑफ बॉम जीसस, गोवा"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider.jpg",
                "title": "भांगड़ा, पंजाब का एक लोक नृत्य"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/aarti.jpg",
                "title": "वाराणसी में गंगा आरती"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider_0_0.jpg",
                "title": "कच्छ कढ़ाई (गुजरात)"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/Budha-Sakyamuni.jpg",
                "title": "शाक्यमुनि बुद्ध की मूर्तिकला"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider7.jpg",
                "title": "कांथा कढ़ाई, बंगाल"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider6_1.jpg",
                "title": "डमरू, एक छोटा दो सिर वाला ढोल"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/5.png",
                "title": "रुद्र वीणा, एक शास्त्रीय तार वाद्य"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/secretariat.jpg",
                "title": "निर्माण के दौरान सचिवालय भवनों का दृश्य, नई दिल्ली"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/8.jpg",
                "title": "केरल का एक नृत्य रूप, कथकली "
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-11/7%20%281%29.jpg",
                "title": "रंगों का त्योहार होली"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/3.png",
                "title": "बीन, एक वाद्य यंत्र बजाते हुए संगीतकार"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/2.png",
                "title": "फूलों की रंगोली"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/9.jpg",
                "title": "कठपुतली, राजस्थान की एक लोक परंपरा"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/13.jpg",
                "title": "कूचिपूड़ी, भारत का एक शास्त्रीय नृत्य"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/Markandeya-puran.jpg",
                "title": "मार्कंडेय पुराण पांडुलिपि"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/Tantric-mandal-of-Buddhist-pantheons.jpg",
                "title": "बौद्ध पंथियों का तांत्रिक मंडल"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/slider19.jpg",
                "title": "अडालज बावली, अहमदाबाद"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-10/slider3_1.jpg",
                "title": "राष्ट्रीय अभिलेखागार पुस्तकालय"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/slider9.jpg",
                "title": "मिथिला चित्रकला, बिहार"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/slider13.jpg",
                "title": "दत्तपारा नवरत्न मंदिर, जॉयपुर, पश्चिम बंगाल "
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/slider20.jpg",
                "title": "कच्छ मिट्टी का काम, गुजरात की पारंप रिक कला का काम"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/1.jpg",
                "title": "पंचरथ, महाबलीपुरम"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/2.jpg",
                "title": "भारत की प्राचीन पांडुलिपि"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/3.jpg",
                "title": "नुब्रा घाटी, लेह में मैत्रेय बुद्ध की प्रतिमा"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/4.jpg",
                "title": "छम, मास्क डांस, लद्दाख"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/5.jpg",
                "title": "कालबेलिया, राजस्थान का पारंपरिक लोक नृत्य"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/6.jpg",
                "title": "करशा मठ, लद्दाख"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/7.jpg",
                "title": "पुंग ढोल चोलम, मणिपुर"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/amer.jpg",
                "title": "आमेर किला, जयपुर"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/rail.jpg",
                "title": "नीलगिरि पर्वत रेलवे"
              },
              {
                "field_background_slider_image": "/sites/default/files/2019-12/suntemple.jpg",
                "title": "रथ का पहिया, सूर्य मंदिर, कोणार्क "
              }
            ]




# Group External Links

## Rest ExternalLinks [/rest/externalLinks]

### External Links List in English [GET]

+ Response 200 (application/json)

    + Headers

            date:Wed, 06 Jan 2021 13:11:13 GMT
            server:
            feature-policy:fullscreen 'self'
            public-key-pins:pin-sha256="YMuqVdu4HgYGH0KWKEn6+3obann2b3xzQXxXrJF8NY8="; max-age=16000000
            x-content-type-options:nosniff
            cache-control:must-revalidate, no-cache, private
            x-drupal-dynamic-cache:MISS
            x-ua-compatible:IE=edge
            content-language:en
            expires:Sun, 19 Nov 1978 05:00:00 GMT
            vary:
            x-generator:Drupal 8 (https://www.drupal.org)
            content-security-policy-report-only:report-uri /report-csp-violation; upgrade-insecure-requests
            x-drupal-cache:HIT
            x-permitted-cross-domain-policies:none
            expect-ct:enforce, max-age=43200, report-uri="https://indianculture.gov.in/report"
            content-security-policy:frame-ancestors 'self' https://stgweb.umang.gov.in https://web.umang.gov.in;
            access-control-allow-origin:*
            conteny-security-policy:default-src 'self';
            content-length:2541
            strict-transport-security:max-age=31536000; includeSubDomains; preload;
            x-frame-options:SAMEORIGIN
            x-xss-protection:1; mode=block
            referrer-policy:no-referrer-when-downgrade

    + Attributes (array[External Links List in English Example])


    + Body

            [
              {
                "nid": "1798211",
                "title": "National Cultural Audiovisual Archives",
                "field_extenal_link": "http://ncaa.gov.in/repository/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/ncaa.png"
              },
              {
                "nid": "156",
                "title": "Vedic Heritage",
                "field_extenal_link": "http://vedicheritage.gov.in/en/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/vedic_0.jpg"
              },
              {
                "nid": "19",
                "title": "Gandhi150",
                "field_extenal_link": "https://gandhi.gov.in/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/gandhiff.png"
              },
              {
                "nid": "2141987",
                "title": "Abhilekh Patal",
                "field_extenal_link": "https://www.abhilekh-patal.in/jspui/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/abhi.jpg"
              },
              {
                "nid": "658893",
                "title": "National Mission for Manuscripts",
                "field_extenal_link": "https://www.namami.gov.in/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/fgh.png"
              },
              {
                "nid": "658489",
                "title": "Museums of India",
                "field_extenal_link": "http://museumsofindia.gov.in/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/museumofindia.png"
              },
              {
                "nid": "2053586",
                "title": "Netaji Subhas Chandra Bose Papers",
                "field_extenal_link": "http://www.netajipapers.gov.in/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/nataji.png"
              },
              {
                "nid": "2299927",
                "title": "Gandhi Heritage Portal",
                "field_extenal_link": "https://www.gandhiheritageportal.org/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/heritage.png"
              },
              {
                "nid": "2299991",
                "title": "Gandhi Ashram at Sabarmati",
                "field_extenal_link": "https://gandhiashramsabarmati.org/en/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/asram.png"
              },
              {
                "nid": "2141996",
                "title": "Jewellery of the Nizams",
                "field_extenal_link": "http://nizamjewels.nvli.in/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/nizam.jpg"
              },
              {
                "nid": "17",
                "title": "Sangam App  Link to Download",
                "field_extenal_link": "https://sangam.gov.in/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/workship.png"
              },
              {
                "nid": "2053535",
                "title": "Nehru Memorial Museum &amp; Library",
                "field_extenal_link": "http://nehrumemorial.nic.in",
                "field_external_website_image": "/sites/default/files/ExtWebImg/nnml.png"
              },
              {
                "nid": "155",
                "title": "National Mission on Monuments and Antiquities",
                "field_extenal_link": "http://nmma.nic.in/nmma/indexAction.do;jsessionid=6525BFF408AFBB47D24E298EDAB55…",
                "field_external_website_image": "/sites/default/files/ExtWebImg/Antiquities.jpg"
              }
            ]



## Hi Rest ExternalLinks [/hi/rest/externalLinks]

### External Links List in Hindi [GET]

+ Response 200 (application/json)

    + Headers

            date:Wed, 06 Jan 2021 13:11:51 GMT
            server:
            feature-policy:fullscreen 'self'
            public-key-pins:pin-sha256="YMuqVdu4HgYGH0KWKEn6+3obann2b3xzQXxXrJF8NY8="; max-age=16000000
            x-content-type-options:nosniff
            cache-control:must-revalidate, no-cache, private
            x-drupal-dynamic-cache:MISS
            x-ua-compatible:IE=edge
            content-language:hi
            expires:Sun, 19 Nov 1978 05:00:00 GMT
            vary:
            x-generator:Drupal 8 (https://www.drupal.org)
            content-security-policy-report-only:report-uri /report-csp-violation; upgrade-insecure-requests
            x-drupal-cache:HIT
            x-permitted-cross-domain-policies:none
            expect-ct:enforce, max-age=43200, report-uri="https://indianculture.gov.in/report"
            content-security-policy:frame-ancestors 'self' https://stgweb.umang.gov.in https://web.umang.gov.in;
            access-control-allow-origin:*
            conteny-security-policy:default-src 'self';
            content-length:2842
            strict-transport-security:max-age=31536000; includeSubDomains; preload;
            x-frame-options:SAMEORIGIN
            x-xss-protection:1; mode=block
            referrer-policy:no-referrer-when-downgrade

    + Attributes (array[External Links List in Hindi Example])


    + Body

            [
              {
                "nid": "1798211",
                "title": "राष्ट्रीय सांस्कृतिक दृश्यश्र्व्य अभिलेखागार",
                "field_extenal_link": "http://ncaa.gov.in/repository/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/ncaa.png"
              },
              {
                "nid": "156",
                "title": "वैदिक धरोहर",
                "field_extenal_link": "http://vedicheritage.gov.in/en/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/vedic_0.jpg"
              },
              {
                "nid": "19",
                "title": "गांधी 150",
                "field_extenal_link": "https://gandhi.gov.in/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/gandhiff.png"
              },
              {
                "nid": "2141987",
                "title": "अभिलेख पटल",
                "field_extenal_link": "https://www.abhilekh-patal.in/jspui/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/abhi.jpg"
              },
              {
                "nid": "658893",
                "title": "राष्ट्रीय पाण्डुलिपि मिशन",
                "field_extenal_link": "https://www.namami.gov.in/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/fgh.png"
              },
              {
                "nid": "658489",
                "title": "भारत के संग्रहालय",
                "field_extenal_link": "http://museumsofindia.gov.in/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/museumofindia.png"
              },
              {
                "nid": "2053586",
                "title": "नेताजी सुभाष चंद्र बोस पेपर्स",
                "field_extenal_link": "http://www.netajipapers.gov.in/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/nataji.png"
              },
              {
                "nid": "2141996",
                "title": "निज़ामों के आभूषण",
                "field_extenal_link": "http://nizamjewels.nvli.in/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/nizam.jpg"
              },
              {
                "nid": "17",
                "title": "संगम ऐप  ",
                "field_extenal_link": "https://sangam.gov.in/",
                "field_external_website_image": "/sites/default/files/ExtWebImg/workship.png"
              },
              {
                "nid": "155",
                "title": "नेशनल मिशन ऑन मॉन्यूमेंट्स एंड अंटिक्विटीज़",
                "field_extenal_link": "http://nmma.nic.in/nmma/indexAction.do;jsessionid=6525BFF408AFBB47D24E298EDAB55…",
                "field_external_website_image": "/sites/default/files/ExtWebImg/Antiquities.jpg"
              }
            ]




# Group Did You Know

## Rest Did You Know [/rest/did_you_know]

### Did You Know Details in English [GET]

+ Response 200 (application/json)

    + Headers

            date:Wed, 06 Jan 2021 13:05:50 GMT
            server:
            feature-policy:fullscreen 'self'
            public-key-pins:pin-sha256="YMuqVdu4HgYGH0KWKEn6+3obann2b3xzQXxXrJF8NY8="; max-age=16000000
            x-content-type-options:nosniff
            cache-control:must-revalidate, no-cache, private
            x-drupal-dynamic-cache:MISS
            x-ua-compatible:IE=edge
            content-language:en
            expires:Sun, 19 Nov 1978 05:00:00 GMT
            vary:
            x-generator:Drupal 8 (https://www.drupal.org)
            content-security-policy-report-only:report-uri /report-csp-violation; upgrade-insecure-requests
            x-drupal-cache:HIT
            x-permitted-cross-domain-policies:none
            expect-ct:enforce, max-age=43200, report-uri="https://indianculture.gov.in/report"
            content-security-policy:frame-ancestors 'self' https://stgweb.umang.gov.in https://web.umang.gov.in;
            access-control-allow-origin:*
            conteny-security-policy:default-src 'self';
            content-length:2256
            strict-transport-security:max-age=31536000; includeSubDomains; preload;
            x-frame-options:SAMEORIGIN
            x-xss-protection:1; mode=block
            referrer-policy:no-referrer-when-downgrade

    + Attributes (Did You Know Details in English Example)


    + Body

            {
              "search_results": [
                {
                  "title": "06 January Tyagaraja (1767 – 1847)",
                  "field_did_you_know_image": "/system/files/diduknowImages/Tyagaraja_%28cropped%29.png",
                  "field_did_you_know_text": "<p dir=\"ltr\"><strong>06 January Tyagaraja (1767 – 1847)</strong></p>\n\n<p style=\"line-height:24px; font-size:13px;\">Born on 04 May 1767 in present-day Tamil Nadu, Tyagaraja is hailed as the pioneer of South Indian Carnatic Music. He was only 13 years of age when he composed his first song <strong>Namo Namo Raghavayya</strong>, which to this day is considered a masterpiece. He is said to have made nearly 24,000 compositions, 700 of which are actively taught and practised to-date. As a tribute to this musical legend, for more than 170 years the Tyagaraja Aaradhana Festival is celebrated every year at Thiruvayur, where hundreds of musicians come together in an open-to-public event and perform Tyagaraja’s<strong> Pancharatna Kritis</strong> in unison. Tyagaraja passed away on 06 January 1847.</p>\n"
                },
                {
                  "title": "06 January Tyagaraja (1767 – 1847)",
                  "field_did_you_know_image": "/system/files/diduknowImages/Tyagaraja_%28cropped%29.png",
                  "field_did_you_know_text": "<p dir=\"ltr\"><strong>06 January Tyagaraja (1767 – 1847)</strong></p>\n\n<p style=\"line-height:24px; font-size:13px;\">Born on 04 May 1767 in present-day Tamil Nadu, Tyagaraja is hailed as the pioneer of South Indian Carnatic Music. He was only 13 years of age when he composed his first song <strong>Namo Namo Raghavayya</strong>, which to this day is considered a masterpiece. He is said to have made nearly 24,000 compositions, 700 of which are actively taught and practised to-date. As a tribute to this musical legend, for more than 170 years the Tyagaraja Aaradhana Festival is celebrated every year at Thiruvayur, where hundreds of musicians come together in an open-to-public event and perform Tyagaraja’s<strong> Pancharatna Kritis</strong> in unison. Tyagaraja passed away on 06 January 1847.</p>\n"
                }
              ],
              "facets": []
            }



## Hi Rest Did You Know [/hi/rest/did_you_know]

### Did You Know Details in Hindi [GET]

+ Response 200 (application/json)

    + Headers

            date:Wed, 06 Jan 2021 13:06:29 GMT
            server:
            feature-policy:fullscreen 'self'
            public-key-pins:pin-sha256="YMuqVdu4HgYGH0KWKEn6+3obann2b3xzQXxXrJF8NY8="; max-age=16000000
            x-content-type-options:nosniff
            cache-control:must-revalidate, no-cache, private
            x-drupal-dynamic-cache:MISS
            x-ua-compatible:IE=edge
            content-language:hi
            expires:Sun, 19 Nov 1978 05:00:00 GMT
            vary:
            x-generator:Drupal 8 (https://www.drupal.org)
            content-security-policy-report-only:report-uri /report-csp-violation; upgrade-insecure-requests
            x-drupal-cache:MISS
            x-permitted-cross-domain-policies:none
            expect-ct:enforce, max-age=43200, report-uri="https://indianculture.gov.in/report"
            content-security-policy:frame-ancestors 'self' https://stgweb.umang.gov.in https://web.umang.gov.in;
            access-control-allow-origin:*
            conteny-security-policy:default-src 'self';
            content-length:7164
            strict-transport-security:max-age=31536000; includeSubDomains; preload;
            x-frame-options:SAMEORIGIN
            x-xss-protection:1; mode=block
            referrer-policy:no-referrer-when-downgrade

    + Attributes (Did You Know Details in Hindi Example)


    + Body

            {
              "search_results": [
                {
                  "title": "06 जनवरी त्यागराज (1767 - 1847)",
                  "field_did_you_know_image": "/system/files/diduknowImages/Tyagaraja_%28cropped%29.png",
                  "field_did_you_know_text": "<p dir=\"ltr\"><strong>06 जनवरी त्यागराज (1767 - 1847)</strong></p>\n\n<p>वर्तमान तमिलनाडु में 04 मई 1767 को जन्मे त्यागराज को दक्षिण भारतीय कर्नाटक संगीत के अग्रणी के रूप में जाना जाता है। वह केवल 13 वर्ष का थे जब उन्होंने अपना पहला गीत नमो नमो राघवैया की रचना की, जो आज तक एक उत्कृष्ट कृति मानी जाती है। कहा जाता है कि उन्होंने लगभग 24,000 रचनाएँ बनाई हैं जिनमें से 700 को आज तक सक्रिय रूप से सिखाया जाता है। इस संगीत किंवदंती को श्रद्धांजलि देने के लिए, त्यागराज आराधना महोत्सव हर साल थिरुवयूर में, 170 से अधिक वर्षों से मनाया जाता है, जहां सैकड़ों संगीतकार एक साथ आते हैं और सार्वजनिक रूप से खुला कार्यक्रम करते हैं जिसमें एकरूपता से त्यागराज की पंच रत्न कृति का प्रदर्शन होता है। त्यागराज का 06 जनवरी 1847 को निधन हो गया।</p>\n"
                },
                {
                  "title": "06 जनवरी त्यागराज (1767 - 1847)",
                  "field_did_you_know_image": "/system/files/diduknowImages/Tyagaraja_%28cropped%29.png",
                  "field_did_you_know_text": "<p dir=\"ltr\"><strong>06 जनवरी त्यागराज (1767 - 1847)</strong></p>\n\n<p>वर्तमान तमिलनाडु में 04 मई 1767 को जन्मे त्यागराज को दक्षिण भारतीय कर्नाटक संगीत के अग्रणी के रूप में जाना जाता है। वह केवल 13 वर्ष का थे जब उन्होंने अपना पहला गीत नमो नमो राघवैया की रचना की, जो आज तक एक उत्कृष्ट कृति मानी जाती है। कहा जाता है कि उन्होंने लगभग 24,000 रचनाएँ बनाई हैं जिनमें से 700 को आज तक सक्रिय रूप से सिखाया जाता है। इस संगीत किंवदंती को श्रद्धांजलि देने के लिए, त्यागराज आराधना महोत्सव हर साल थिरुवयूर में, 170 से अधिक वर्षों से मनाया जाता है, जहां सैकड़ों संगीतकार एक साथ आते हैं और सार्वजनिक रूप से खुला कार्यक्रम करते हैं जिसमें एकरूपता से त्यागराज की पंच रत्न कृति का प्रदर्शन होता है। त्यागराज का 06 जनवरी 1847 को निधन हो गया।</p>\n"
                }
              ],
              "facets": []
            }




# Group Full Search

## Rest V1 Indian Culture Repositories [/rest-v1/indian-culture-repositories{?page,search_api_fulltext}]

### Full Search List in English [GET]
+ Parameters
    + page (number, required)

        An integer describing page number to fetch a page in paginated list

        + Sample: 0
    + search_api_fulltext (string, required)

        A string describing text to be searched in that list

        + Sample: india

+ Response 200 (application/json)

    + Headers

            date:Thu, 07 Jan 2021 05:04:55 GMT
            server:
            feature-policy:fullscreen 'self'
            public-key-pins:pin-sha256="YMuqVdu4HgYGH0KWKEn6+3obann2b3xzQXxXrJF8NY8="; max-age=16000000
            x-content-type-options:nosniff
            cache-control:must-revalidate, no-cache, private
            x-drupal-dynamic-cache:UNCACHEABLE
            x-ua-compatible:IE=edge
            content-language:en
            expires:Sun, 19 Nov 1978 05:00:00 GMT
            vary:
            x-generator:Drupal 8 (https://www.drupal.org)
            content-security-policy-report-only:report-uri /report-csp-violation; upgrade-insecure-requests
            x-drupal-cache:MISS
            x-permitted-cross-domain-policies:none
            expect-ct:enforce, max-age=43200, report-uri="https://indianculture.gov.in/report"
            content-security-policy:frame-ancestors 'self' https://stgweb.umang.gov.in https://web.umang.gov.in;
            access-control-allow-origin:*
            conteny-security-policy:default-src 'self';
            transfer-encoding:chunked
            strict-transport-security:max-age=31536000; includeSubDomains; preload;
            x-frame-options:SAMEORIGIN
            x-xss-protection:1; mode=block
            referrer-policy:no-referrer-when-downgrade

    + Attributes (Full Search List in English Example)


    + Body

            {
              "rows": {
                "search_results": [
                  {
                    "title": "Sends condolence on the death of K.K.Malaviya",
                    "nid": "2687280",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Private Papers",
                    "field_parent_library_name": "National Archives of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2689024/PP_000002599040_TIT_01.jpg, /system/files/digitalFilesICWeb//abhilekh-patal/2689024/PP_000002599040_TIT_01.jpg.jpg",
                    "field_pdf_digital_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2689024/PP_000002599040.pdf",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "<div class=\"pdfpreview\" id=\"pdfpreview-186080\">\n  <span class=\"pdfpreview-image-wrapper\">\n    <img class=\"pdfpreview-file\" src=\"/sites/default/files/pdfpreview/186080-PP_000002599040.png\" width=\"708\" height=\"1024\" typeof=\"Image\" />\n\n\n  </span>\n  </div>\n",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Expresses condolence on the death of K.K.Malaviya",
                    "nid": "2687279",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Private Papers",
                    "field_parent_library_name": "National Archives of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2689021/PP_000002599037_TIT_01.jpg, /system/files/digitalFilesICWeb//abhilekh-patal/2689021/PP_000002599037_TIT_01.jpg.jpg",
                    "field_pdf_digital_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2689021/PP_000002599037.pdf",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "<div class=\"pdfpreview\" id=\"pdfpreview-186068\">\n  <span class=\"pdfpreview-image-wrapper\">\n    <img class=\"pdfpreview-file\" src=\"/sites/default/files/pdfpreview/186068-PP_000002599037.png\" width=\"876\" height=\"1024\" typeof=\"Image\" />\n\n\n  </span>\n  </div>\n",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Expresses condolence on the death of K.K.M",
                    "nid": "2687278",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Private Papers",
                    "field_parent_library_name": "National Archives of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2689018/PP_000002599034_TIT_01.jpg, /system/files/digitalFilesICWeb//abhilekh-patal/2689018/PP_000002599034_TIT_01.jpg.jpg",
                    "field_pdf_digital_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2689018/PP_000002599034.pdf",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "<div class=\"pdfpreview\" id=\"pdfpreview-186096\">\n  <span class=\"pdfpreview-image-wrapper\">\n    <img class=\"pdfpreview-file\" src=\"/sites/default/files/pdfpreview/186096-PP_000002599034.png\" width=\"679\" height=\"1024\" typeof=\"Image\" />\n\n\n  </span>\n  </div>\n",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Calcutta : e.q : bar Celt : two from West Bengal",
                    "nid": "2598383",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Miscellaneous, Vol.06 [1959-60]",
                    "field_parent_library_name": "Archaeological Survey of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb/asirepository/29697/MISC-671-1959-043.jpg",
                    "field_pdf_digital_file": "",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Hampi Pampapati Gopuram North side",
                    "nid": "2598382",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "HAMPI, Vol.01 [1957]",
                    "field_parent_library_name": "Archaeological Survey of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb/asirepository/29688/HAMPI-1965-2503.jpg",
                    "field_pdf_digital_file": "",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Centenary Exhibition: crystal relic casket : Indian Museum",
                    "nid": "2598381",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Centenary Exhibition, Vol.02 [1961]",
                    "field_parent_library_name": "Archaeological Survey of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb/asirepository/29686/093-2000-61-Centenary%20Exhibition-Crystal%20Relic%20Casket-Indian%20Museum-092.jpg",
                    "field_pdf_digital_file": "",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Calcutta : e.q : bar Celt : two.",
                    "nid": "2598380",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Miscellaneous, Vol.06 [1959-60]",
                    "field_parent_library_name": "Archaeological Survey of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb/asirepository/29673/MISC-668-1959-040.jpg",
                    "field_pdf_digital_file": "",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Pattadakal : Papanath Temple : a couple",
                    "nid": "2598379",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Pattadakal, Vol.02 [1965]",
                    "field_parent_library_name": "Archaeological Survey of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb/asirepository/29658/028-Pattadakal-639-65-Papanath%20temple-Acouple-028.jpg",
                    "field_pdf_digital_file": "",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Nalanda museum Vajrasattva and Vajrasattava",
                    "nid": "2598378",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Nalanda, Vol.03 [1968]",
                    "field_parent_library_name": "Archaeological Survey of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb/asirepository/29651/48-NALANDA-%20543--68-%20%20%20%20%20%20048.jpg",
                    "field_pdf_digital_file": "",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Misc. Gaja Simha   :  bronze and National Museum",
                    "nid": "2598377",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Centenary Preparation, Vol.03 [1961]",
                    "field_parent_library_name": "Archaeological Survey of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb/asirepository/29648/007-1473-61-Centenary%20Preprations-Gaja%20Simha-Bronze%20from%20National%20Museum-007.jpg",
                    "field_pdf_digital_file": "",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Calcutta : i.m : Yakshi from Besnagar.",
                    "nid": "2598376",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Miscellaneous, Vol.06 [1959-60]",
                    "field_parent_library_name": "Archaeological Survey of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb/asirepository/29645/MISC-665-1959-037.jpg",
                    "field_pdf_digital_file": "",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Nalanda museum Avalokiteswar",
                    "nid": "2598375",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Nalanda, Vol.03 [1968]",
                    "field_parent_library_name": "Archaeological Survey of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb/asirepository/29643/47-NALANDA-%20542--68-%20%20%20%20%20%20047.jpg",
                    "field_pdf_digital_file": "",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Hindi in AIR&#039;s bulletins: Simplification or Complication?",
                    "nid": "2598346",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Private Papers",
                    "field_parent_library_name": "National Archives of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2687435/PP_000002597592_TIT_01.jpg, /system/files/digitalFilesICWeb//abhilekh-patal/2687435/PP_000002597592_TIT_01.jpg.jpg",
                    "field_pdf_digital_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2687435/PP_000002597592.pdf",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "<div class=\"pdfpreview\" id=\"pdfpreview-200588\">\n  <span class=\"pdfpreview-image-wrapper\">\n    <img class=\"pdfpreview-file\" src=\"/sites/default/files/pdfpreview/200588-PP_000002597592.png\" width=\"252\" height=\"1024\" typeof=\"Image\" />\n\n\n  </span>\n  </div>\n",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Whole country to unite to end slavery of english: Rajendra Prasad at Hindi Day (Photograph of Hindi Writers Sammelan)",
                    "nid": "2598345",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Private Papers",
                    "field_parent_library_name": "National Archives of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2687434/PP_000002597591_TIT_01.jpg, /system/files/digitalFilesICWeb//abhilekh-patal/2687434/PP_000002597591_TIT_01.jpg.jpg",
                    "field_pdf_digital_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2687434/PP_000002597591.pdf",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "<div class=\"pdfpreview\" id=\"pdfpreview-200584\">\n  <span class=\"pdfpreview-image-wrapper\">\n    <img class=\"pdfpreview-file\" src=\"/sites/default/files/pdfpreview/200584-PP_000002597591.png\" width=\"1024\" height=\"478\" typeof=\"Image\" />\n\n\n  </span>\n  </div>\n",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Hindi wale kya karen; Kya na Karen Reg. Hindi Day in Delhi",
                    "nid": "2598344",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Private Papers",
                    "field_parent_library_name": "National Archives of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2687433/PP_000002597590_TIT_01.jpg, /system/files/digitalFilesICWeb//abhilekh-patal/2687433/PP_000002597590_TIT_01.jpg.jpg",
                    "field_pdf_digital_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2687433/PP_000002597590.pdf",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "<div class=\"pdfpreview\" id=\"pdfpreview-200580\">\n  <span class=\"pdfpreview-image-wrapper\">\n    <img class=\"pdfpreview-file\" src=\"/sites/default/files/pdfpreview/200580-PP_000002597590.png\" width=\"738\" height=\"1024\" typeof=\"Image\" />\n\n\n  </span>\n  </div>\n",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  },
                  {
                    "title": "Law Practise of M.M.Malaviya an article by Surendra Nath Verma.",
                    "nid": "2598343",
                    "type": "Digital Records",
                    "field_dc_publisher": "",
                    "field_dc_contributor_author": "",
                    "field_dc_contributor_editor": "",
                    "field_parent_collection_in_dspac": "Private Papers",
                    "field_parent_library_name": "National Archives of India",
                    "field_digital_image_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2689340/PP_000002599357_TIT_01.jpg, /system/files/digitalFilesICWeb//abhilekh-patal/2689340/PP_000002599357_TIT_01.jpg.jpg",
                    "field_pdf_digital_file": "/system/files/digitalFilesICWeb//abhilekh-patal/2689340/PP_000002599357.pdf",
                    "field_cuisine_thumbnail": "",
                    "field_story_image": "",
                    "field_unesco_data_thumbnail": "",
                    "field_video_streaming_url": "",
                    "field_museums_images": "",
                    "field_pdf_digital_file_1": "<div class=\"pdfpreview\" id=\"pdfpreview-200576\">\n  <span class=\"pdfpreview-image-wrapper\">\n    <img class=\"pdfpreview-file\" src=\"/sites/default/files/pdfpreview/200576-PP_000002599357.png\" width=\"683\" height=\"1024\" typeof=\"Image\" />\n\n\n  </span>\n  </div>\n",
                    "field_repository_name": "",
                    "field_personal_name": "",
                    "field_remainder_of_title": "",
                    "field_statement_of_resp": "",
                    "field_video_streaming_url_1": ""
                  }
                ],
                "facets": [
                  [
                    {
                      "type": [
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_data_type_%3Aunesco_records",
                          "values": {
                            "value": "UNESCO Records",
                            "count": 3
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_data_type_%3Amuseums",
                          "values": {
                            "value": "Museums",
                            "count": 4
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_data_type_%3Astory",
                          "values": {
                            "value": "Stories",
                            "count": 7
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_data_type_%3Adspace_data",
                          "values": {
                            "value": "Digital Records",
                            "count": 82350
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_data_type_%3Akoha_records",
                          "values": {
                            "value": "Library Catalogue",
                            "count": 176428
                          }
                        }
                      ]
                    }
                  ],
                  [
                    {
                      "field_parent_library_name": [
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ACentral%20Institute%20of%20Higher%20Tibetan%20Studies",
                          "values": {
                            "value": "Central Institute of Higher Tibetan Studies",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ANational%20Mission%20on%20Monuments%20and%20Antiquities",
                          "values": {
                            "value": "National Mission on Monuments and Antiquities",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ACentre%20for%20Cultural%20Resources%20and%20Training",
                          "values": {
                            "value": "Centre for Cultural Resources and Training",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ALalit%20Kala%20Akademi",
                          "values": {
                            "value": "Lalit Kala Akademi",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3AWest%20Zone%20Cultural%20Centre",
                          "values": {
                            "value": "West Zone Cultural Centre",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3AAllahabad%20Museum",
                          "values": {
                            "value": "Allahabad Museum",
                            "count": 3
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3AGandhi%20Smriti%20and%20Darshan%20Samiti",
                          "values": {
                            "value": "Gandhi Smriti and Darshan Samiti",
                            "count": 3
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3AThe%20Asiatic%20Society%2C%20Kolkata",
                          "values": {
                            "value": "The Asiatic Society, Kolkata",
                            "count": 3
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3AIndira%20Gandhi%20Rashtriya%20Manav%20Sangrahalaya",
                          "values": {
                            "value": "Indira Gandhi Rashtriya Manav Sangrahalaya",
                            "count": 5
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ANorth%20Zone%20Cultural%20Centre",
                          "values": {
                            "value": "North Zone Cultural Centre",
                            "count": 5
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3AVrindavan%20Research%20Institute",
                          "values": {
                            "value": "Vrindavan Research Institute",
                            "count": 5
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3AMizoram%20State%20Library",
                          "values": {
                            "value": "Mizoram State Library",
                            "count": 6
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ARampur%20Raza%20Library",
                          "values": {
                            "value": "Rampur Raza Library",
                            "count": 6
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3AEastern%20Zonal%20Cultural%20Centre",
                          "values": {
                            "value": "Eastern Zonal Cultural Centre",
                            "count": 39
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ANational%20Archives%20of%20India%20",
                          "values": {
                            "value": "National Archives of India ",
                            "count": 39
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3AAnthropological%20Survey%20of%20India%20%28AnSI%29",
                          "values": {
                            "value": "Anthropological Survey of India (AnSI)",
                            "count": 49
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3AKhuda%20Bakhsh%20Oriental%20Public%20Library",
                          "values": {
                            "value": "Khuda Bakhsh Oriental Public Library",
                            "count": 50
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ANational%20Council%20of%20Science%20Museums",
                          "values": {
                            "value": "National Council of Science Museums",
                            "count": 117
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3AIndira%20Gandhi%20National%20Centre%20for%20the%20Arts",
                          "values": {
                            "value": "Indira Gandhi National Centre for the Arts",
                            "count": 260
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ASangeet%20Natak%20Akademi",
                          "values": {
                            "value": "Sangeet Natak Akademi",
                            "count": 443
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ANehru%20Memorial%20Museum%20%26%20Library",
                          "values": {
                            "value": "Nehru Memorial Museum & Library",
                            "count": 469
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ASalar%20Jung%20Museum",
                          "values": {
                            "value": "Salar Jung Museum",
                            "count": 1407
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ACentral%20Secretariat%20Library",
                          "values": {
                            "value": "Central Secretariat Library",
                            "count": 4139
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ANational%20Library%20of%20India",
                          "values": {
                            "value": "National Library of India",
                            "count": 17380
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3ANational%20Archives%20of%20India",
                          "values": {
                            "value": "National Archives of India",
                            "count": 22681
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_organisation%3AArchaeological%20Survey%20of%20India",
                          "values": {
                            "value": "Archaeological Survey of India",
                            "count": 35206
                          }
                        }
                      ]
                    }
                  ],
                  [
                    {
                      "field_dc_type": [
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AAbstract",
                          "values": {
                            "value": "Abstract",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AAdvertisement",
                          "values": {
                            "value": "Advertisement",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AAlmanac%0AOther",
                          "values": {
                            "value": "Almanac\nOther",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AAnimation",
                          "values": {
                            "value": "Animation",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AAnnual%20report",
                          "values": {
                            "value": "Annual report",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AAnuual%20Report",
                          "values": {
                            "value": "Anuual Report",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AB%C4%81m%C4%81bodhin%C4%AB%20Patrik%C4%81%0APeriodical",
                          "values": {
                            "value": "Bāmābodhinī Patrikā\nPeriodical",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3ACalendar",
                          "values": {
                            "value": "Calendar",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3Acatalogue",
                          "values": {
                            "value": "catalogue",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3ACatalouge",
                          "values": {
                            "value": "Catalouge",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3ACircular%0AGovernment%20Publication",
                          "values": {
                            "value": "Circular\nGovernment Publication",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3ADissertation",
                          "values": {
                            "value": "Dissertation",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AE-Book%0ACatalogues",
                          "values": {
                            "value": "E-Book\nCatalogues",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AE%20Book",
                          "values": {
                            "value": "E Book",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AEnamel",
                          "values": {
                            "value": "Enamel",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AEncyclopedia",
                          "values": {
                            "value": "Encyclopedia",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3Aen%0AJournal",
                          "values": {
                            "value": "en\nJournal",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AExhibitions",
                          "values": {
                            "value": "Exhibitions",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AGazatteers",
                          "values": {
                            "value": "Gazatteers",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AGazeteer",
                          "values": {
                            "value": "Gazeteer",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AGazettees",
                          "values": {
                            "value": "Gazettees",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AGazzette",
                          "values": {
                            "value": "Gazzette",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AGoverment%20Publication",
                          "values": {
                            "value": "Goverment Publication",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AGovernment%20Publication%0AAnnual%20Report",
                          "values": {
                            "value": "Government Publication\nAnnual Report",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AGovernment%20Publication%0Aapplication/pdf",
                          "values": {
                            "value": "Government Publication\napplication/pdf",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AHandbook",
                          "values": {
                            "value": "Handbook",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AImage/jpeg",
                          "values": {
                            "value": "Image/jpeg",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AIndex%0ANational%20Library%20of%20India%2C%20Kolkata",
                          "values": {
                            "value": "Index\nNational Library of India, Kolkata",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AMagzine",
                          "values": {
                            "value": "Magzine",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AMiniature%20Painting",
                          "values": {
                            "value": "Miniature Painting",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AModern%20Painting",
                          "values": {
                            "value": "Modern Painting",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AMonogarph",
                          "values": {
                            "value": "Monogarph",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AMonoghraph",
                          "values": {
                            "value": "Monoghraph",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AMonograph%0Abn",
                          "values": {
                            "value": "Monograph\nbn",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3ANehru%20Collection",
                          "values": {
                            "value": "Nehru Collection",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3ANewspaper%20clipping",
                          "values": {
                            "value": "Newspaper clipping",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3ANewspaper%20clipping%20",
                          "values": {
                            "value": "Newspaper clipping ",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AOther%0Aapplication/pdf",
                          "values": {
                            "value": "Other\napplication/pdf",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3APamphlet",
                          "values": {
                            "value": "Pamphlet",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3APerforming%20arts",
                          "values": {
                            "value": "Performing arts",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3APeriodical%0Abn",
                          "values": {
                            "value": "Periodical\nbn",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3APeriodical%0AMonthly",
                          "values": {
                            "value": "Periodical\nMonthly",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3APress%20Message",
                          "values": {
                            "value": "Press Message",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3Aproceedings",
                          "values": {
                            "value": "proceedings",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AProclamation%20",
                          "values": {
                            "value": "Proclamation ",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3Ararebook",
                          "values": {
                            "value": "rarebook",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3ARare%20Book%0ANational%20Library%20of%20India%2C%20Kolkata",
                          "values": {
                            "value": "Rare Book\nNational Library of India, Kolkata",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AReceipt",
                          "values": {
                            "value": "Receipt",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3Areport",
                          "values": {
                            "value": "report",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AReports",
                          "values": {
                            "value": "Reports",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3ATreatise",
                          "values": {
                            "value": "Treatise",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3Avideo",
                          "values": {
                            "value": "video",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AVisual%20arts",
                          "values": {
                            "value": "Visual arts",
                            "count": 1
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AAlumina",
                          "values": {
                            "value": "Alumina",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AAnnals",
                          "values": {
                            "value": "Annals",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AAnnual%20Reports",
                          "values": {
                            "value": "Annual Reports",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AAudio",
                          "values": {
                            "value": "Audio",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3ACataloging",
                          "values": {
                            "value": "Cataloging",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AE-book",
                          "values": {
                            "value": "E-book",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AEbook",
                          "values": {
                            "value": "Ebook",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3Aen%0AGovernment%20Publication",
                          "values": {
                            "value": "en\nGovernment Publication",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AGazette%0AIndex",
                          "values": {
                            "value": "Gazette\nIndex",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AGazetter",
                          "values": {
                            "value": "Gazetter",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3ALetters",
                          "values": {
                            "value": "Letters",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AMonograpg",
                          "values": {
                            "value": "Monograpg",
                            "count": 2
                          }
                        },
                        {
                          "url": "http://indianculture.gov.in/rest-v1/indian-culture-repositories?search_api_fulltext=india&f%5B0%5D=version1_search_api_type%3AMonograph%0AMonograph",
                          "values": {
                            "value": "Monograph\nMonograph",
                            "count": 2
                          }
[...]
